.controls {
  position: absolute;
  top: 24px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 10;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.button img {
  width: 100%;
  height: 100%;
  display: block;
}


.active {
  filter: drop-shadow(0 0 6px rgba(75, 255, 234, 0.6));
}

.inactive {
  opacity: 0.7;
}

.button:hover {
  transform: scale(1.1);
}
