/*  Base Reset  */

@font-face {
  font-family: "Geologica";
  src: url("/geologica/Geologica-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
ul,
ol {
  margin: 0;
  font-weight: 500;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding-inline: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
select,
textarea {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
}

html {
  background-color: #090A1B;
  color: white;
  font-size: 18px;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: "Geologica", sans-serif;
  font-weight: 500;
}

body {
  font-family: "Geologica", sans-serif;
  font-weight: 500;
}
* {
  font-family: "Geologica", sans-serif;
  font-weight: 500;
}




// .app-layout__main > * {
//   background: rgba(0,255,0,0.2);
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}


.container {
  width: 100vw;
  height: 100vh;
  background: #090a1b;
  overflow: hidden;
}


@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 480px) {
}
@media (max-width: 375px) {
}
