.canvasWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  background:
    radial-gradient(900px 600px at 20% 25%, rgba(120, 90, 255, 0.18), transparent 60%),
    radial-gradient(800px 700px at 80% 30%, rgba(0, 255, 210, 0.10), transparent 55%),
    radial-gradient(1000px 900px at 50% 85%, rgba(255, 120, 190, 0.07), transparent 65%),
    linear-gradient(180deg, #05060d 0%, #070a1c 45%, #03030a 100%);
}

.profileBtn {
  position: absolute;
  top: 50%;
  right: 30px;

  width: 34px;
  height: 34px;
  border-radius: 50%;

  background: rgba(15, 3, 17, 0.65);

  border: 1px solid rgba(180, 148, 248, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: all 0.2s ease;
}

.profileBtn:hover {
  border-color: #b494f8;
  box-shadow: 0 0 15px rgba(180, 148, 248, 0.45);
}

.profileIcon {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: contain;
}

.infoBtn {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 14;

  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid rgba(180, 148, 248, 0.25);
  background: rgba(15, 3, 17, 0.65);

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: all 0.2s ease;
  color: #f2b82e;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.infoBtn:hover {
  border-color: #b494f8;
  box-shadow: 0 0 15px rgba(180, 148, 248, 0.45);
}

.mobileOnly {
  display: block;
}

.desktopOnly {
  display: none;
}

@media (min-width: 768px) {
  .infoBtn {
    display: none;
  }

  .mobileOnly {
    display: none;
  }

  .desktopOnly {
    display: block;
  }
}

@media (max-width: 767px) {
  .profileBtn {
    right: 16px;
  }
}


.modeSwitch {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 4px;
  border-radius: 999px;

  background: rgba(20, 5, 23, 0.285);
  backdrop-filter: blur(1px);

  border: 1px solid rgba(180, 148, 248, 0.25);
  box-shadow:
    0 0 30px rgba(180, 148, 248, 0.12),
    0 10px 30px rgba(0, 0, 0, 0.5);

  z-index: 20;
}

.segment {
  padding: 4px 12px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;

  color: rgba(255, 255, 255, 0.65);
  background: transparent;
  border: none;
  cursor: pointer;

  transition: all 0.25s ease;
}

.segment:hover {
  color: #ffffff;
}

.activeSegment {
  background: linear-gradient(135deg,
      rgba(180, 148, 248, 0.9),
      rgba(120, 90, 200, 0.9));

  color: #ffffff;

  // box-shadow:
  // 	0 0 18px rgba(180, 148, 248, 0.45),
  // 	0 0 30px rgba(120, 90, 200, 0.35);
}